/.idea/inspectionProfiles/profiles_settings.xml
/.idea/NBI Bank Application.iml
/.idea/modules.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
/Inlämningsuppgift 1 - BankApp _NBI2021.pptx.pdf
/Ritning2.vsdx
*.pyc
*.pdf
