/.idea/inspectionProfiles/profiles_settings.xml
/.idea/NBI Bank Application.iml
/.idea/modules.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
/Ritning2.vsdx
*.pyc
*.pdf
/Klassdiagram.png
